@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

@font-face {
    font-family: 'MenschRegular';
    src: url('mensch/mensch-wf.eot');
    src: url('mensch/mensch-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-wf.woff') format('woff'),
         url('mensch/mensch-wf.ttf') format('truetype'),
         url('mensch/mensch-wf.svg#MenschMenschRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschBold';
    src: url('mensch/mensch-bold-wf.eot');
    src: url('mensch/mensch-bold-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-bold-wf.woff') format('woff'),
         url('mensch/mensch-bold-wf.ttf') format('truetype'),
         url('mensch/mensch-bold-wf.svg#MenschMenschBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschBoldInline';
    src: url('mensch/mensch-inline-wf.eot');
    src: url('mensch/mensch-inline-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-inline-wf.woff') format('woff'),
         url('mensch/mensch-inline-wf.ttf') format('truetype'),
         url('mensch/mensch-inline-wf.svg#MenschMenschBoldInline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschThin';
    src: url('mensch/mensch-thin-wf.eot');
    src: url('mensch/mensch-thin-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-thin-wf.woff') format('woff'),
         url('mensch/mensch-thin-wf.ttf') format('truetype'),
         url('mensch/mensch-thin-wf.svg#MenschMenschThin') format('svg');
    font-weight: normal;
    font-style: normal;

}


a {
    text-decoration: none;
}




f* {
    outline: 1px solid red;
}

#header {
    background-color: #EDECE2;
    text-align: center;
}

.logo {
    color: #24E95A;
    font-family: 'MenschBoldInline', Arial, sans-serif;
    font-size: 3.5rem;
    height: 130px;
    padding-top: 25px;
}

#tm {
    color: #1F1F24;
    font-family: Impact, sans-serif;
    font-size: 1rem;
    padding-left: 5px;
}

.links {
    background-color: #1F1F24;
    font-family: 'Arvo';
    font-weight: bold;
    color: #81B499;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links a {
    color: #81B499;
}

.vertical-line {
    color: #27272E;
    padding-left: 16px;
    padding-right: 16px;
}



/*md*/
@media (min-width: 768px) {  
    
.links {
    background-color: #EDECE2;
    font-family: 'Arvo';
    font-weight: bold;
    color: #81B499;
    letter-spacing: 1px;
    padding-top: 33px;
    border-bottom: 10px solid #1F1F24;
    height: 90px;
    }

    .links a {
        color: #81B499;
    }

    .vertical-line {
        color: #24E95A;
        padding-left: 18px;
        padding-right: 18px;
    }
    
    #header {
    border-bottom: 10px solid #1F1F24;
    height: 90px;
    }
    
    .logo {
    color: #24E95A;
    font-family: 'MenschBoldInline', Arial, sans-serif;
    font-size: 2.5rem;
    height: 130px;
    padding-top: 15px;
    text-align: left;
    padding-left: 50px;
    }

    #tm {
        color: #1F1F24;
        font-family: Impact, sans-serif;
        font-size: 0.5rem;
        padding-left: 5px;
    }
    
}






/*lg*/
@media (min-width: 992px) { 
    
    .logo {
    padding-left: 70px;
    }
    
    
}