@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

@font-face {
    font-family: 'MenschRegular';
    src: url('mensch/mensch-wf.eot');
    src: url('mensch/mensch-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-wf.woff') format('woff'),
         url('mensch/mensch-wf.ttf') format('truetype'),
         url('mensch/mensch-wf.svg#MenschMenschRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschBold';
    src: url('mensch/mensch-bold-wf.eot');
    src: url('mensch/mensch-bold-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-bold-wf.woff') format('woff'),
         url('mensch/mensch-bold-wf.ttf') format('truetype'),
         url('mensch/mensch-bold-wf.svg#MenschMenschBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschBoldInline';
    src: url('mensch/mensch-inline-wf.eot');
    src: url('mensch/mensch-inline-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-inline-wf.woff') format('woff'),
         url('mensch/mensch-inline-wf.ttf') format('truetype'),
         url('mensch/mensch-inline-wf.svg#MenschMenschBoldInline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschThin';
    src: url('mensch/mensch-thin-wf.eot');
    src: url('mensch/mensch-thin-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-thin-wf.woff') format('woff'),
         url('mensch/mensch-thin-wf.ttf') format('truetype'),
         url('mensch/mensch-thin-wf.svg#MenschMenschThin') format('svg');
    font-weight: normal;
    font-style: normal;

}


a {
    text-decoration: none;
}




* {
    outline: 1px solid red;
}

#header {
    background-color: #EDECE2;
    text-align: center;
}

.logo {
    color: #24E95A;
    font-family: 'MenschBoldInline', Arial, sans-serif;
    font-size: 3.5rem;
    height: 130px;
    padding-top: 25px;
}

#tm {
    color: #1F1F24;
    font-family: Impact, sans-serif;
    font-size: 1rem;
    padding-left: 5px;
}

.links {
    background-color: #1F1F24;
    font-family: 'Arvo';
    font-weight: bold;
    color: #81B499;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links a {
    color: #81B499;
}

.vertical-line {
    color: #27272E;
    padding-left: 16px;
    padding-right: 16px;
}

#video-box {
    height: 500px;
    background: url("images/Cat_transparent_background_2.png");
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: right -320px top -30px;
    background-color: #24E95A;
}

#video {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    
}


#video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    padding-top: 40px;
    
}

#finally {
    color: #1F1F24;
    font-family: 'Arvo';
    font-size: 2.0rem;
    padding-top: 30px;
    text-align: center;
}

#finally-lg {
    color: #1F1F24;
    font-family: 'Arvo';
    font-size: 2.2rem;
    padding-top: 25px;
    padding-left: 0px;
    background: url("images/Cat_transparent_background_2.png");
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: 190px 70px;
}

#finally-1 {
    color: #EDECE2;
    font-weight: bold;
    font-size: 3.0rem;
}

#finally-2 {
    font-weight: bold;
    font-size: 3.5rem;
}


/*md*/
@media (min-width: 768px) {  
    
.links {
    background-color: #EDECE2;
    font-family: 'Arvo';
    font-weight: bold;
    color: #81B499;
    letter-spacing: 1px;
    padding-top: 33px;
    border-bottom: 10px solid #1F1F24;
    height: 90px;
    }

    .links a {
        color: #81B499;
    }

    .vertical-line {
        color: #24E95A;
        padding-left: 18px;
        padding-right: 18px;
    }
    
    #header {
    border-bottom: 10px solid #1F1F24;
    height: 90px;
    }
    
    .logo {
    color: #24E95A;
    font-family: 'MenschBoldInline', Arial, sans-serif;
    font-size: 2.5rem;
    height: 130px;
    padding-top: 15px;
    text-align: left;
    padding-left: 50px;
    }

    #tm {
        color: #1F1F24;
        font-family: Impact, sans-serif;
        font-size: 0.5rem;
        padding-left: 5px;
    }
    
    #video-box {
    background-position: right -250px top -40px;
    }
    
    
    
}






/*lg*/
@media (min-width: 992px) { 
    
    .logo {
    padding-left: 70px;
    }
    
    #finally {
        display: none;
    }
    
    #video-box {
        background-size: 0px;
    }
    
    .links { 
        padding-left: 120px;
    }
    
    #video iframe {
        max-height: 60%;
        padding-left: 60px;
        padding-right: 40px;
    }
    
}