@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

@font-face {
    font-family: 'MenschRegular';
    src: url('mensch/mensch-wf.eot');
    src: url('mensch/mensch-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-wf.woff') format('woff'),
         url('mensch/mensch-wf.ttf') format('truetype'),
         url('mensch/mensch-wf.svg#MenschMenschRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschBold';
    src: url('mensch/mensch-bold-wf.eot');
    src: url('mensch/mensch-bold-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-bold-wf.woff') format('woff'),
         url('mensch/mensch-bold-wf.ttf') format('truetype'),
         url('mensch/mensch-bold-wf.svg#MenschMenschBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschBoldInline';
    src: url('mensch/mensch-inline-wf.eot');
    src: url('mensch/mensch-inline-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-inline-wf.woff') format('woff'),
         url('mensch/mensch-inline-wf.ttf') format('truetype'),
         url('mensch/mensch-inline-wf.svg#MenschMenschBoldInline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschThin';
    src: url('mensch/mensch-thin-wf.eot');
    src: url('mensch/mensch-thin-wf.eot?#iefix') format('embedded-opentype'),
         url('mensch/mensch-thin-wf.woff') format('woff'),
         url('mensch/mensch-thin-wf.ttf') format('truetype'),
         url('mensch/mensch-thin-wf.svg#MenschMenschThin') format('svg');
    font-weight: normal;
    font-style: normal;

}


a {
    text-decoration: none;
}




g* {
    outline: 1px solid red;
}

#header {
    background-color: #EDECE2;
    text-align: center;
}

.logo {
    color: #24E95A;
    font-family: 'MenschBoldInline', Arial, sans-serif;
    font-size: 3.0rem;
    height: 110px;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

#tm {
    color: #1F1F24;
    font-family: Impact, sans-serif;
    font-size: 0.5rem;
    padding-left: 5px;
}

.links {
    background-color: #1F1F24;
    font-family: 'Arvo';
    font-weight: bold;
    color: #81B499;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links a {
    color: #81B499;
}

.vertical-line {
    color: #27272E;
    padding-left: 16px;
    padding-right: 16px;
}

#video-box {
    max-height: 800px;
    background: url("images/Cat_transparent_background_2.png");
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: right -320px top -30px;
    background-color: #24E95A;
}

#video {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    
}


#video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    padding-top: 40px;
    
}

#finally {
    color: #1F1F24;
    font-family: 'Arvo';
    font-size: 2.0rem;
    padding-top: 30px;
    text-align: center;
}

#finally-lg {
    color: #EDECE2;
    font-family: 'Arvo';
    font-size: 2.2rem;
    padding-top: 25px;
    padding-left: 0px;
    background: url("images/Cat_transparent_background_2.png");
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: 130px 70px;
}

#finally-1 {
    color: #EDECE2;
    font-weight: bold;
    font-size: 3.0rem;
}

#finally-2 {
    color: #1F1F24;
    font-weight: bold;
    font-size: 3.5rem;
}

#about {
    position: sticky;
    text-align: center;
    height: auto;
    background: url("images/Cat_transparent_background_9.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: left -200px bottom -100px;
    background-color: #807A5E;
}

#quote {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'MenschRegular', Arial, sans-serif;
    font-size: 2.4rem;
    color: #1F1F24;
    
}

#charlie-quote {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 17px;
    color: #81B499;
    font-family: 'MenschRegular';
    font-size: 1.0rem;
}

#info {
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Arvo';
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 60px;
    color: #EDECE2;
    letter-spacing: 2px;
}

#info #thus {
    color: #24E95A;
    padding-top: 25px;
}

body {
    background-color: #EDECE2;
}

#kitten-mitten-shop {
    text-align: center
    background-color: #EDECE2;
}

.mitten-thumbnail {
    outline: 4px solid #24E95A;
    }

.blue {
    outline: 4px solid #81B499;
    }

.mitten {
    padding-left: 10px;
    padding-right: 10px;
}

#gallery {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
    height: auto;
    padding-bottom: 100px;
}

#gallery h2 {
    padding-top: 45px;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'MenschRegular', Arial, sans-serif;
    font-size: 2.4rem;
    color: #1F1F24;
    text-align: center;
}


#contact-box {
    height: 600px;
    background: url("images/Cat_transparent_background_1.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right -200px top 50px;
    background-color: #1F1F24;
}

#contact {
    text-align: center;
    font-size: 1.6rem;
    color: #EDECE2;
    font-family: 'Arvo';
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 30px;
}

#address {
    font-size: 1.3rem;
    color: #24E95A;
    padding-top: 15px;
}


.pub {
    padding-top: 20px;
    width: 100%;
}


#directions {
    padding-top: 20px;
    font-family: 'MenschRegular';
    color: #81B499;
    text-decoration: underline;
    font-size: 1.0rem;
}




/*md*/
@media (min-width: 768px) {  
    
.links {
    background-color: #EDECE2;
    font-family: 'Arvo';
    font-weight: bold;
    color: #81B499;
    letter-spacing: 1px;
    padding-top: 33px;
    border-bottom: 10px solid #1F1F24;
    height: 90px;
    }

    .links a {
        color: #81B499;
    }

    .vertical-line {
        color: #24E95A;
        padding-left: 18px;
        padding-right: 18px;
    }
    
    #header {
    border-bottom: 10px solid #1F1F24;
    height: 90px;
    }
    
    .logo {
    color: #24E95A;
    font-family: 'MenschBoldInline', Arial, sans-serif;
    font-size: 2.5rem;
    height: 130px;
    padding-top: 15px;
    text-align: left;
    padding-left: 50px;
    }

    #tm {
        color: #1F1F24;
        font-family: Impact, sans-serif;
        font-size: 0.5rem;
        padding-left: 5px;
    }
    
    #video-box {
    background-position: right -250px top -40px;
    }
    
    #about {
    background-size: 550px;
    background-position: left -200px bottom -150px;
}
    
    #info {
    padding-right: 40px;
    padding-left: 40px;
        xcolor: #1F1F24;
    }
    
    #xquote {
    color: #EDECE2;
    
}


.mitten {
    padding-left: 25px;
    padding-right: 25px;
    
}
    

#contact-box {
    height: 600px;
    background: url("images/Cat_transparent_background_1.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right -200px top 10px;


/*lg*/
@media (min-width: 992px) { 
    
    .logo {
    padding-left: 70px;
    }
    
    #finally {
        display: none;
    }
    
    #video-box {
        background-size: 0px;
        max-height: 480px;
    }
    
    .links { 
        padding-left: 120px;
    }
    
    #video iframe {
        height: 60%;
        max-height: 450px;
        padding-left: 60px;
        padding-right: 40px;
    }
    
    #info {
    padding-right: 80px;
    padding-left: 80px;
        
    }
    
    #about {
    background-size: 600px;
    background-position: left -180px bottom -150px;
}
    

    
}
    
}