@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

d* { outline: red 1px solid; } 

body {
    background-color: #82DDB5;
    background-image: url('img/illustration.gif'), url('img/texture.jpg');
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px, auto;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

#nav {
    background-color: #6B9;
    border-bottom: 2px dashed #487;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    word-spacing: 2em;
}

#header {
    text-align: center;
    margin-top: 40px;
}

#logo {
    width: 360px;
}

#description, #date {
    width: 220px;
}

.register_btn {
    background-color: #E43;
    border: 2px dashed #A43;
    border-radius: 2em;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px;
}


#what {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 400px;
    color: #347788;
    background-color: rgba(199, 238, 221, 0.94);  
}


#what h1, #what h2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#what h1 + p {
    font-size: 1.2em;
}


#what p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}  


#what #sponsor_logos {
    text-align: center    
}


#sponsor_logos {
    word-spacing: 30px;
}


#sponsor_logos img {
    width: 250px;
}


#why {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #347788;
    background-color: rgb(183, 234, 211);  
}


#why h1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
   

#why p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#where {
    padding-top: 40px;
    padding-bottom: 350px;
    color: #b2499a;
    background-image: url('img/map.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1300px;
}


#where h1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#where p {
    text-align: right;
    font-weight: 700;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}


#when {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    background-color: #439998;
    background-image: url('img/wires.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 600px;
}


#when h1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#when h2 {
    width: 600px;
    padding-top: 15px;
    padding padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#when h3 {
    width: auto;
    border-top: 3px dashed white;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#when ul {
    text-align: left;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


#who {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #347788;
    background-color: white;  
}


#who h1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#who h1 + p {
    font-size: 1.2em;
}
   

#who p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    word-spacing: 10px;
    background-image: url('img/texture.jpg');
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto;
}


#footer img {
    width: 50px;
}
