@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    font-family: 'Lato', sans-serif; 
    background-color: #F0FBFC;
}

g* {
    outline: 1px solid aqua;
}

#header {
    height: 155px;
    background: url("img/logo-flipped-light.png");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 100% 55%;
    background-color: white;
}

.nav {
    max-width: 950px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px auto;
}

.logo {
    margin-top: 25px;
}

.logo img {
    width: 140px;
}

.links  {
    text-align: right;
    margin-top: 60px;
    font-size: 1.7rem;
    color: #1F3B3F;
}

.links a {
    text-decoration: none;
    color: #1F3B3F;
}

.links b {

}

.links #backslash {
    padding-left: 7px;
    padding-right: 7px;
}

.links #vertical-line {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.9rem;
    color: #96B0B2;
}

#scroll {
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#scroll .scroll-img {
    display: inline-block;
}


#scroll .scroll-img img {
    max-width: 1200px;
    text-align: center;
    margin-top: -3px;;
    margin-bottom: 0;
    background-color: white;
}

#scroll h1 {
    color: #3A5F60;
    position: absolute;
    font-size: 1.2rem;
    padding-left: 13px;
    padding-top: 500px;
    text-align: left;
    float: left;
}
